# Pandas 
Esta notebook tiene varios objetivos:

1. El principal es poder familiarizarse con las estructuras de datos DataFrames de pandas. Poder manipular las funciones básicas, y entender la lógica de las mismas (para después googlearlas!).
1. Tocar algunos conceptos de estadística (vamos a profundizar la clase que viene)
1. Empezar a trabajar con Datasets (más) reales.

### ¡Manos a la obra!
Primero, importamos las librerías necesarias y los comandos que son necesarios ejecutar una única vez.

In [1]:
import pandas as pd
from IPython.display import display #Es el "print" de los DataFrames. No es necesario importarlo, pero está bueno.

Como primer paso, vamos a crear nuestro propio dataset. Es decir, agarrar a mano los datos poblacionales de http://www.ign.gob.ar/nuestrasactividades/geografia/datosargentina/divisionpolitica y guardarlos en una variable "data_dic".¿Qué tipo de variable es?


** nota: la población está en número de habitantes y la superficie en km2.

In [2]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe"],"Poblacion":[2890151,15625084,367828,1055259,99633,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]}

In [4]:
# Creamos el DataFrame
data_pandas = pd.DataFrame(data_dic)
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

__Ejercicio 1:__ Haciéndonos amigues de los DF.  
* ¿Qué tipo de variable es "data_dic"?
* Investigar las funciones que se implementan en la próxima celda. ¿Qué hacen? ¿Para qué piensan que pueden ser útiles?

In [ ]:
#data_pandas.head() muestra las primeras 5 filas por defecto ya que no esta especificada la cantidad en el head(??)
#data_pandas.tail() muestra las ultimas 5 filas por defecto ya que no esta especificada la cantidad en el head(??)
#data_pandas.count() cuenta la cantidad de instancias en el df
#data_pandas.shape

In [6]:
data_pandas.head(2)

   Jurisdiccion  Poblacion  Superficie
0          CABA    2890151         200
1  Buenos Aires   15625084      307521

In [8]:
data_pandas.tail(2)

   Jurisdiccion  Poblacion  Superficie
10   Santa Cruz     273964      243943
11     Santa Fe    3194537      133007

In [11]:
data_pandas.count()

Jurisdiccion    12
Poblacion       12
Superficie      12
dtype: int64

In [12]:
data_pandas.shape

(12, 3)

__Ejercicio 2:__ Data slicing.  
* Investigar las funciones columns e index. ¿Qué hacen? ¿Qué tipo de variable es su salida?
* Jugar con las operaciones de slicing, filtrado x máscaras y creación de columnas propuestas en las celdas siguientes.

In [ ]:
data_pandas.columns #Muestar el nombre de cada columna y dice de que tipo es
data_pandas.index #

RangeIndex(start=0, stop=12, step=1)

In [13]:
data_pandas.columns

Index(['Jurisdiccion', 'Poblacion', 'Superficie'], dtype='object')

In [14]:
data_pandas.index

RangeIndex(start=0, stop=12, step=1)

In [ ]:
#data_pandas['Jurisdiccion']
#data_pandas[['Jurisdiccion','Poblacion']]
#data_pandas.Jurisdiccion
#'Poblacion' in data_pandas

In [ ]:
data_pandas['Jurisdiccion']

0             CABA
1     Buenos Aires
2        Catamarca
3            Chaco
4           Chubut
5          Córdoba
6            Jujuy
7          Mendoza
8         Misiones
9        Río Negro
10      Santa Cruz
11        Santa Fe
Name: Jurisdiccion, dtype: object

In [ ]:
data_pandas[['Jurisdiccion','Poblacion']]

    Jurisdiccion  Poblacion
0           CABA    2890151
1   Buenos Aires   15625084
2      Catamarca     367828
3          Chaco    1055259
4         Chubut      99633
5        Córdoba    3308876
6          Jujuy     673307
7        Mendoza    1738929
8       Misiones    1101593
9      Río Negro     638645
10    Santa Cruz     273964
11      Santa Fe    3194537

In [15]:
data_pandas.Poblacion

0      2890151
1     15625084
2       367828
3      1055259
4        99633
5      3308876
6       673307
7      1738929
8      1101593
9       638645
10      273964
11     3194537
Name: Poblacion, dtype: int64

In [16]:
'Poblacion' in data_pandas

True

In [19]:
# Filtrado por máscaras

data_pandas[data_pandas.Poblacion > 1000000]
#data_pandas[(data_pandas.Poblacion > 1000000) & (data_pandas.Superficie < 100000)]

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
3          Chaco    1055259       99633
5        Córdoba    3308876      165321
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
11      Santa Fe    3194537      133007

In [ ]:
data_pandas[(data_pandas.Poblacion > 1000000) & (data_pandas.Superficie < 100000)]

  Jurisdiccion  Poblacion  Superficie
0         CABA    2890151         200
3        Chaco    1055259       99633
8     Misiones    1101593       29801

In [20]:
# Creación de Columnas

data_pandas['Densidad'] = data_pandas['Poblacion'] / data_pandas['Superficie']
display(data_pandas)

    Jurisdiccion  Poblacion  Superficie      Densidad
0           CABA    2890151         200  14450.755000
1   Buenos Aires   15625084      307521     50.809811
2      Catamarca     367828      102606      3.584859
3          Chaco    1055259       99633     10.591461
4         Chubut      99633      509108      0.195701
5        Córdoba    3308876      165321     20.014856
6          Jujuy     673307       53219     12.651628
7        Mendoza    1738929      148827     11.684231
8       Misiones    1101593       29801     36.964968
9      Río Negro     638645      203013      3.145833
10    Santa Cruz     273964      243943      1.123066
11      Santa Fe    3194537      133007     24.017811

__Ejercicio 3:__ Datos faltantes.

Los datos no suelen tener todas sus celdas completas. Por ejemplo, estás haciendo una encuesta en la calle y te encontrás con Mirtha Legrand, quien accede amablemente a responder a tus preguntas. Cuando le preguntás la edad, ella no accede a responder a esa pregunta (o miente y vos no agregás esa info en tu encuesta). Ese dato va a faltar cuando los analices. También puede ser el caso de los datos poblacionales disponibles de las Malvinas Argentinas. 

Entonces, consideremos el segundo caso mencionado y armemos el DataFrame correspondiente.

In [22]:
data_dic2 = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe","Malvinas"],"Poblacion":[2890151,15625084,367828,1055259,99633,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537,None],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007,None]}

In [24]:
data_pd2  = pd.DataFrame(data_dic2)
display(data_pd2)

    Jurisdiccion   Poblacion  Superficie
0           CABA   2890151.0       200.0
1   Buenos Aires  15625084.0    307521.0
2      Catamarca    367828.0    102606.0
3          Chaco   1055259.0     99633.0
4         Chubut     99633.0    509108.0
5        Córdoba   3308876.0    165321.0
6          Jujuy    673307.0     53219.0
7        Mendoza   1738929.0    148827.0
8       Misiones   1101593.0     29801.0
9      Río Negro    638645.0    203013.0
10    Santa Cruz    273964.0    243943.0
11      Santa Fe   3194537.0    133007.0
12      Malvinas         NaN         NaN

Pandas tiene muchas funciones muy cómodas para trabajar con datos faltantes. 

- Investigar las funciones de manipulación de datos faltantes propuestas a continuación.
- ¿Qué les parece mejor: dropna(), fillna(0) o dejarlo como está? ¿ Se les ocurre alguna otra forma de llenar los espacios vacíos?

In [ ]:
#data_pandas2.isna() devuelve una tabla en donde los datos faltantes tienen "true"
#data_pandas2.dropna() elimina la fila que tiene algun dato null
#data_pandas2.fillna(0) coloca cero a los valores faltantes.

¿Qué hace el comando "dropna"?
Para qué sirve la opción "inplace". Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [25]:
data_pd2.isna()

    Jurisdiccion  Poblacion  Superficie
0          False      False       False
1          False      False       False
2          False      False       False
3          False      False       False
4          False      False       False
5          False      False       False
6          False      False       False
7          False      False       False
8          False      False       False
9          False      False       False
10         False      False       False
11         False      False       False
12         False       True        True

In [26]:
data_pd2.dropna()

    Jurisdiccion   Poblacion  Superficie
0           CABA   2890151.0       200.0
1   Buenos Aires  15625084.0    307521.0
2      Catamarca    367828.0    102606.0
3          Chaco   1055259.0     99633.0
4         Chubut     99633.0    509108.0
5        Córdoba   3308876.0    165321.0
6          Jujuy    673307.0     53219.0
7        Mendoza   1738929.0    148827.0
8       Misiones   1101593.0     29801.0
9      Río Negro    638645.0    203013.0
10    Santa Cruz    273964.0    243943.0
11      Santa Fe   3194537.0    133007.0

In [27]:
data_pd2.fillna(0)

    Jurisdiccion   Poblacion  Superficie
0           CABA   2890151.0       200.0
1   Buenos Aires  15625084.0    307521.0
2      Catamarca    367828.0    102606.0
3          Chaco   1055259.0     99633.0
4         Chubut     99633.0    509108.0
5        Córdoba   3308876.0    165321.0
6          Jujuy    673307.0     53219.0
7        Mendoza   1738929.0    148827.0
8       Misiones   1101593.0     29801.0
9      Río Negro    638645.0    203013.0
10    Santa Cruz    273964.0    243943.0
11      Santa Fe   3194537.0    133007.0
12      Malvinas         0.0         0.0

__Ejercicio 4:__ Armando nuestro DataSet.

- Crear un DataFrame que se llame "data_pandas_new" que contenga la información sobre las jurisdicciones no contempladas en data_pandas [disponibles en la página web que se utilizó como fuente de datos].
- Averiguar si _append, concat o merge_ agrega los datos cargados en data_pandass_new a data_pandas. ¿Qué hacen las funciones restantes?

In [ ]:
#data_pandas.append(data_pandas_new) agrega el nuevo data frame a continuaacion del "viejo data frame" no modifica los indices
#pd.concat([data_pandas,data_pandas_new],ignore_index = True) une los data frame sin modificar el indice, excepto que coloquemos "False"
#data_pandas.merge(data_pandas_new) une ambos df pero.....

In [29]:
dic1 = {"Jurisdiccion":["Entre Ríos","Formosa","La Pampa","La Rioja","Neuquen","Salta","San Juan","San Luis","Santiago del Estero","Río Negro","Santa Cruz",
                           "Santa Fe","Tierra del Fuego, Antártida e Islas del Atlántico Sur","Tucumán"],"Poblacion":[1235994,530162,318951,333642,551266,1214441,681055,432310,
                                                   874006,638645,273964,3194537,127205,1448188],"Superficie":
           [78781,72066,143440,89680,94078,89651,76748,136351,1002445,22524,133007,243943,78781,165321]}

In [30]:
data_pandas_new = pd.DataFrame(dic1)
data_pandas_new

                                         Jurisdiccion  Poblacion  Superficie
0                                          Entre Ríos    1235994       78781
1                                             Formosa     530162       72066
2                                            La Pampa     318951      143440
3                                            La Rioja     333642       89680
4                                             Neuquen     551266       94078
5                                               Salta    1214441       89651
6                                            San Juan     681055       76748
7                                            San Luis     432310      136351
8                                 Santiago del Estero     874006     1002445
9                                           Río Negro     638645       22524
10                                         Santa Cruz     273964      133007
11                                           Santa Fe    3194537      243943
12  Tierra del Fuego, Antártida e Islas del Atlánt...     127205       78781
13                                            Tucumán    1448188      165321

In [31]:
data_pandas.append(data_pandas_new)

,Jurisdiccion,Poblacion,Superficie,Densidad
0,CABA,2890151,200,14450.755000
1,Buenos Aires,15625084,307521,50.809811
2,Catamarca,367828,102606,3.584859
3,Chaco,1055259,99633,10.591461
4,Chubut,99633,509108,0.195701
5,Córdoba,3308876,165321,20.014856
6,Jujuy,673307,53219,12.651628
7,Mendoza,1738929,148827,11.684231
8,Misiones,1101593,29801,36.964968
9,Río Negro,638645,203013,3.145833
10,Santa Cruz,273964,243943,1.123066
11,Santa Fe,3194537,133007,24.017811
0,Entre Ríos,1235994,78781,NaN
1,Formosa,530162,72066,NaN
2,La Pampa,318951,143440,NaN
3,La Rioja,333642,89680,NaN
4,Neuquen,551266,94078,NaN
5,Salta,1214441,89651,NaN
6,San Juan,681055,76748,NaN
7,San Luis,432310,136351,NaN
8,Santiago del Estero,874006,1002445,NaN
9,Río Negro,638645,22524,NaN
10,Santa Cruz,273964,133007,NaN
11,Santa Fe,3194537,243943,NaN
12,"Tierra del Fuego, Antártida e Islas del Atlánt...",127205,78781,NaN
13,Tucumán,1448188,165321,NaN

In [32]:
pd.concat([data_pandas,data_pandas_new],ignore_index = True)

,Jurisdiccion,Poblacion,Superficie,Densidad
0,CABA,2890151,200,14450.755000
1,Buenos Aires,15625084,307521,50.809811
2,Catamarca,367828,102606,3.584859
3,Chaco,1055259,99633,10.591461
4,Chubut,99633,509108,0.195701
5,Córdoba,3308876,165321,20.014856
6,Jujuy,673307,53219,12.651628
7,Mendoza,1738929,148827,11.684231
8,Misiones,1101593,29801,36.964968
9,Río Negro,638645,203013,3.145833
10,Santa Cruz,273964,243943,1.123066
11,Santa Fe,3194537,133007,24.017811
12,Entre Ríos,1235994,78781,NaN
13,Formosa,530162,72066,NaN
14,La Pampa,318951,143440,NaN
15,La Rioja,333642,89680,NaN
16,Neuquen,551266,94078,NaN
17,Salta,1214441,89651,NaN
18,San Juan,681055,76748,NaN
19,San Luis,432310,136351,NaN
20,Santiago del Estero,874006,1002445,NaN
21,Río Negro,638645,22524,NaN
22,Santa Cruz,273964,133007,NaN
23,Santa Fe,3194537,243943,NaN
24,"Tierra del Fuego, Antártida e Islas del Atlánt...",127205,78781,NaN
25,Tucumán,1448188,165321,NaN

In [33]:
data_pandas.merge(data_pandas_new)

Empty DataFrame
Columns: [Jurisdiccion, Poblacion, Superficie, Densidad]
Index: []

## Análisis de datos: Tripulación del titanic
Queremos saber si los sobrevivientes del famoso Titanic no murieron por pura suerte, o los sobrevivientes tenían alguna característica distinta de las víctimas. Tenemos disponibles algunos datos sobre tripulantes del titanic. La propuesta es analizarlos para intentar encontrar alguna correlación entre los datos y si sobrevivieron o no. 

### Veamos qué pinta tienen los datos, y pongámonos cómodes para trabajar con ellos.
1. Cargar los datos desde el archivo csv.
1. Investigar qué pinta tienen utilizando las funciones exploratorias que aprendimos. ¿Qué información tenemos en los datos? ¿Cuántos pasajeros están incluídas en este Dataset?
1. Quedarse con la serie de datos Age, después hacer un subset que contenga 'Age','Sex' y 'Pclass'.
1. Seleccionar las primeras 3 columnas.
1. Seleccionar las primeras dos filas. Cuál es el objeto que recortamos si nos quedamos con la fila 99? Imprimir la ultima fila.
1. Agrupen los datos por 'Survided' y calculen las edades medias.
1. ¿Faltan datos? ¿Alguna idea de por qué? ¿Qué harías con ellos?
1. ¿Te parece que todas las columnas son informativas o borrarías alguna?

In [ ]:
#Ruta donde se va a leer el dataset
#path= 'titanic.csv'
#Se le asigna a una variable de python el dataset por medio de la funcion de Pandas "read_csv()"#dataset_tita= pd.read_csv(path)
titanic=pd.read_csv('titanic.csv', sep = '\t')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

* Pantallazo general: columnas, índices y memoria

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
PassengerId    156 non-null int64
Survived       156 non-null int64
Pclass         156 non-null int64
Name           156 non-null object
Sex            156 non-null object
Age            126 non-null float64
SibSp          156 non-null int64
Parch          156 non-null int64
Ticket         156 non-null object
Fare           156 non-null float64
Cabin          31 non-null object
Embarked       155 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.7+ KB

### 2- Primera exploración del dataset con pandas.
1- Mostrar las primeras 4 filas del dataset.

In [ ]:
titanic.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

2- Dimensiones del dataset.

In [ ]:
titanic.shape

(156, 12)

3- Cantidad de columnas del dataset. (Si coloco cero entre corchetes me devuelve la cantidad de filas del dataset. Si coloco uno entre corchetes me devuelve la cantidad de columnas).

In [ ]:
titanic.shape[1]

12

3.1 Nombre de las columnas.

In [ ]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
list(titanic.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

4- ¿Cuantas instancias tiene el dataset?

In [ ]:
titanic.shape[0]

156

5- Mostrar las ultimas 3 instancias

In [ ]:
titanic.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

6- ¿Que tipos de datos tienen las columnas?

In [ ]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

7- ¿Cuantos null por columnas hay?

In [ ]:
titanic.isnull().head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False

7.1- Contar los datos null en cada columna

In [ ]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             30
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          125
Embarked         1
dtype: int64

### 3-Quedarse con la serie de datos Age, después hacer un subset que contenga 'Age','Sex' y 'Pclass'.

In [ ]:
titanic.Age #otra forma titanic[['Age']]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
126     NaN
127    24.0
128     NaN
129    45.0
130    33.0
131    20.0
132    47.0
133    29.0
134    25.0
135    23.0
136    19.0
137    37.0
138    16.0
139    24.0
140     NaN
141    22.0
142    24.0
143    19.0
144    18.0
145    19.0
146    27.0
147     9.0
148    36.5
149    42.0
150    51.0
151    22.0
152    55.5
153    40.5
154     NaN
155    51.0
Name: Age, Length: 156, dtype: float64

In [ ]:
#creando el subset
subset_titanic=titanic.copy()
subset_titanic=subset_titanic[['Age','Sex','Pclass']]
subset_titanic.head()

    Age     Sex  Pclass
0  22.0    male       3
1  38.0  female       1
2  26.0  female       3
3  35.0  female       1
4  35.0    male       3

### Más ejercicios
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

### Tutoriales
https://www.youtube.com/watch?v=dye7rDktJ2E

http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html